<link rel="stylesheet" href="../css/dashboard.css">
<div class="container">
    <h3>Chat App</h3>
    <a>welcome to chatapp {{currUserName}}</a>
<hr>
</div>
<div class="left">
    <div class="headind_srch">
        <div class="recent_heading">
            <h3>Recent</h3>
        </div>
        <div class="srch_bar">
            <input type="text" class="search-bar" placeholder="Search">
        </div>
     </div>
    <p ng-repeat="x in allUser" ng-click="chatList(x)" ng-show="currUserName!=x.name">
        {{x.name}}</p>
</div>
    <div class="right">
    <h2>hiii</h2>
</div>


