<!DOCTYPE html>
<html>
<frameset rows = "10%,100%,10%">
        <frame name = "top" src = "frame_1.html" />
        <frameset cols = "30%,70%">
             <frame name = "main" src = "frame_2.html" />
             <frame name = "main" src = "frame_3.html" />
        </frameset>
        <frameset cols = "30%,70%">
            <frame name = "main" src = "frame_4.html" />
            <frame name = "main" src = "frame_5.html" />
       </frameset>
        <noframes>
           <body>Your browser does not support frames.</body>
        </noframes>
        
     </frameset>
</html>