<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
                <h1>Login</h1>
                <input type="text" placeholder="Enter Username Or Email" name="email" required>
                <br /><br />
                <input type="text" placeholder="Enter Password" name="password" required>
                <br /><br />
                <button type="Submit">Login</button>
                <p class="message"><a href="http://127.0.0.1:5500/frontend/templates/forgotPass.html">Forgot Password</a></p>
                <p class="message">Not registered? <a href="http://127.0.0.1:5500/frontend/templates/registration.html">Create an account</a></p>
        </div>
    </div>
</body>
</html>